{% extends 'crms_app/main.html' %}
{% block content %}
{% load static %}
{% load mathfilters %}
<link rel="stylesheet" href={% static 'css/catalogProduct.css' %}>
<div class="modal fade" id="productComplaintModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="productComplaintModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productComplaintModalLabel">Report Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center lead fw-bold mb-1">Reason for Complaint</p>
        <select class="form-select">
          <option value="1" selected>Product Condition</option>
          <option value="2">Misleading Info</option>
          <option value="3">Pornography</option>
        </select>
        <div class="overflow-hidden mt-2">
          <label for="complaintComments" class="form-label">Complaint Comments</label>
          <textarea class="form-control" id="complaintComments" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit Report</button>
      </div>
    </div>
  </div>
</div>
<div class="app container-fluid">
  <div class="app-contents container">
    <div class="product-catalog-view container-fluid py-2">
      <div class="product-catalog-view-contents default-border container-fluid d-flex pt-2 pb-4">
        <div class="left-div col-lg-2 d-flex flex-column">
          <div class="customer-flag-info-div container-fluid position-relative d-flex justify-content-center">
            <div class="top-left-details position-absolute d-flex flex-column align-items-center mt-3">
              <p class="fs-3 fw-bold mt-3 mb-0">SellPoint</p>
              <p class="fs-4">Audio</p>
              <p class="fs-4">Category</p>
            </div>
            <img 
              src="{% static 'media/image-flag-red.svg' %}" 
              class="left-flag"
            />
          </div>
          <div class="search-filter sticky-top ms-3">
            <p class="text-center fs-4 fw-bold mt-2">SEARCH FILTER</p>
            <p class="text-start fs-5 fw-bold mb-0">By Category</p>
            <div class="filter-categories d-flex flex-column ms-4">
              <div class="form-check">
                <input class="form-check-input" type="radio"  checked name="categoryRadio" id="audioRadio">
                <label class="form-check-label" for="audioRadio">
                  Audio
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categoryRadio" id="babiesAndKidsRadio">
                <label class="form-check-label" for="babiesAndKidsRadio">
                  Babies & Kids
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categoryRadio" id="camerasRadio">
                <label class="form-check-label" for="camerasRadio">
                  Cameras
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categoryRadio" id="digitalGoodsAndVouchersRadio">
                <label class="form-check-label" for="digitalGoodsAndVouchersRadio">
                  Digital Goods & Vouchers
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categoryRadio" id="gamingRadio">
                <label class="form-check-label" for="gamingRadio">
                  Gaming
                </label>
              </div>
              <span id="showMoreCategories">Show More Categories</span>
            
              <!-- Define the text that would be 
                  hidden by default and only shown 
                  when clicked on the button -->
              <span id="hiddenCategories"> 
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categoryRadio" id="groceriesRadio">
                  <label class="form-check-label" for="groceriesRadio">
                    Groceries
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categoryRadio" id="healthAndPersonalCareRadio">
                  <label class="form-check-label" for="healthAndPersonalCareRadio">
                    Health & Personal Care
                  </label>
                </div>
              </span>
            </div>
            <p class="text-start fs-5 fw-bold mb-0">By Subcategory</p>
            <div class="filter-subcategories d-flex flex-column ms-4">
              <div class="form-check">
                <input class="form-check-input" type="check" id="speakersCheck">
                <label class="form-check-label" for="speakersCheck">
                  Speakers
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="check" id="earphonesHeadphonesAndHeadSetsCheck">
                <label class="form-check-label" for="earphonesHeadphonesAndHeadSetsCheck">
                  Earphones, Headphones & Headsets
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="check" id="microphonesCheck">
                <label class="form-check-label" for="microphonesCheck">
                  Microphones
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="check" id="amplifiersAndMixersCheck">
                <label class="form-check-label" for="amplifiersAndMixersCheck">
                  Amplifiers & Mixers
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="check" id="AVReceiversCheck">
                <label class="form-check-label" for="AVReceiversCheck">
                  AV Receivers
                </label>
              </div>
              <span id="showMoreSubcategories">Show More Subcategories</span>
            
              <!-- Define the text that would be 
                  hidden by default and only shown 
                  when clicked on the button -->
              <span id="hiddenSubcategories"> 
                <div class="form-check">
                  <input class="form-check-input" type="check" id="homeTheatherSystemsCheck">
                  <label class="form-check-label" for="homeTheatherSystemsCheck">
                    Home Theather Systems
                  </label>
                </div>
              </span>
            </div>
            <p class="text-start fs-5 fw-bold mb-0">By Ratings</p>
            <div class="filter-ratings d-flex flex-column ms-4">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="ratingsRadio" id="fiveStarsRadio">
                <label class="form-check-label" for="fiveStarsRadio">
                  <div class="filter-rating d-flex justify-content-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="ratingsRadio" id="fourStarsRadio">
                <label class="form-check-label" for="fourStarsRadio">
                  <div class="filter-rating d-flex justify-content-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="ratingsRadio" id="threeStarsRadio">
                <label class="form-check-label" for="threeStarsRadio">
                  <div class="filter-rating d-flex justify-content-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="ratingsRadio" id="twoStarsRadio">
                <label class="form-check-label" for="twoStarsRadio">
                  <div class="filter-rating d-flex justify-content-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="ratingsRadio" id="oneStarRadio" checked>
                <label class="form-check-label" for="oneStarRadio">
                  <div class="filter-rating d-flex justify-content-center">
                    <i class="fa fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                </label>
              </div>
            </div>
            <p class="text-start fs-5 fw-bold mb-0">By Price</p>
            <div class="filter-price d-flex flex-column ms-4">
              <div>
                <input type="number" class="form-control" id="minPriceField" value="0">
              </div>
              <p class="fs-6 fw-bold ms-2 mb-0">up to</p>
              <div>
                <input type="number" class="form-control" id="maxPriceField" value="9999999">
              </div>
              <button type="button" class="btn btn-dark mt-2">Apply Pricing Filter</button>
            </div>
          </div>
        </div>
        <div class="right-div col-lg-10 position-relative d-flex justify-content-end">
          <div class="vertical-lines-div position-absolute d-flex">
            <div class="py-2">
              <div class="vertical-line-lg me-2"></div>
            </div>
            <div class="py-4">
              <div class="vertical-line-sm"></div>
            </div>
          </div>
          <div class="right-div-contents col-lg-11 d-flex flex-column align-items-start">
            <div class="d-inline-flex mt-4 ms-0 ps-0">
              <span class="fs-5 fw-bold">Sort By</span>
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle ms-3" type="button" id="popularityDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Popularity
                </button>
                <ul class="dropdown-menu" aria-labelledby="popularityDropdown">
                  <li><a class="dropdown-item" onclick="">Descending</a></li>
                  <li><a class="dropdown-item" onclick="">Ascending</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle ms-3" type="button" id="salesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Sales
                </button>
                <ul class="dropdown-menu" aria-labelledby="salesDropdown">
                  <li><a class="dropdown-item" onclick="">Descending</a></li>
                  <li><a class="dropdown-item" onclick="">Ascending</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle ms-3" type="button" id="ratingsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Rating
                </button>
                <ul class="dropdown-menu" aria-labelledby="ratingsDropdown">
                  <li><a class="dropdown-item" onclick="">Descending</a></li>
                  <li><a class="dropdown-item" onclick="">Ascending</a></li>
                </ul>
              </div>
              <form class="d-flex ms-3">
                <input class="form-control me-2" type="search" placeholder="Search Products" aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
            <div class="d-flex flex-wrap">


              {% for product in products %}
              <div class="product-card card mt-3 me-3" style="width: 20%;">
                <img src="https://wallpaperaccess.com/full/1285952.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title">{{ product.name }}</h6>
                  <a href="{% url 'detailedProduct' product.id %}"> View Product</a>
                  <div class="price-complaints-div d-flex justify-content-between">
                    <div class="price-div d-flex">
                      {% if product.discount == 0 %}
                      <p class="original-price card-text">₱{{ product.sellingprice }}</p>
                      {% else %}
                      <p class="original-price card-text"><s>₱{{ product.sellingprice }}</s></p>
                      <p class="discounted-price card-text ms-2" style="color: orange;">P{{ product.discount|div:100|sub:1|abs|mul:product.sellingprice|floatformat:2 }}</p>
                      {% endif %}
                    </div>
                    <div class="dropdown">
                      <a role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
                        <i class="fa-solid fa-ellipsis"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li class="text-center fw-bold">Report Product</li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#productComplaintModal">Product Condition</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#productComplaintModal">Misleading Info</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#productComplaintModal">Pornography</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="ratings-div d-flex justify-content-center">
                    <div class="ratings">
                      <div class="empty-stars">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                      </div>
                      <div class="full-stars" style="width:70%">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </div>
                  <p class="address card-text text-center">Metro Manila</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="d-inline-flex mt-4 ms-0 ps-0">
              <span class="fs-5 fw-bold me-3">Visit Page</span>
              <button type="button" class="btn btn-dark me-3">1</button>
              <button type="button" class="btn btn-outline-dark me-3">2</button>
              <button type="button" class="btn btn-outline-dark me-3">3</button>
              <button type="button" class="btn btn-outline-dark me-3">4</button>
              <button type="button" class="btn btn-outline-dark me-3">5</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'data/products.js' %}"></script>
<script type="text/javascript" src="{% static 'js/catalogProduct.js' %}"></script>
{% endblock content %}