{% extends 'crms_app/main.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href={% static 'css/customerInfo.css' %}>
<div class="app container-fluid">
  <div class="app-contents container d-flex align-items-center">



    {% if request.user.is_superuser %}
    <div class="customer-info-view container-fluid py-2">
    {% else %}
    <div class="customer-info-view container-fluid py-2 d-flex justify-content-center">
    {% endif %}
      {% if request.user.is_superuser %}
      <div class="customer-info-view-contents default-border container-fluid d-flex">
        <div class="col-lg-7 d-flex justify-content-around">
      {% else %}
      <div class="customer-info-view-contents default-border col-lg-8 d-flex">
        <div class="col-lg-11 d-flex justify-content-around ms-3">
      {% endif %}
          <div class="profile-view container-fluid d-flex justify-content-around m-0 p-0">
            <div class="col-lg-5 d-flex flex-column justify-content-around">
              <div class="customer-flag-info-div container-fluid position-relative d-flex justify-content-center">
                <div class="top-left-details position-absolute d-flex flex-column align-items-center mt-3">
                  <img
                    src="{% static 'media/profile-placeholder.png' %}"
                    class="customer-img" 
                  />
                  <!-- <input 
                    type="text" 
                    value="Customer Name"
                    id="customerNameField"
                    class="form-control position-absolute"
                  > -->
                  <div class="float-container d-flex flex-column bg-white">
                    <label for="nameField">Name</label>
                    <input 
                      type="text" 
                      name="name"
                      id="nameField"
                      class="float-field align-self-center"
                      value="{% if not userInfo.name == None or userInfo.name|length == 0 %}{{userInfo.name}}{% endif %}"
                      disabled
                    >
                  </div>
                </div>
                <img 
                  src="{% static 'media/image-flag-red.svg' %}" 
                  class="customer-img-flag"
                />
              </div>
              <div class="personal-info default-border d-flex flex-column align-items-center">
                <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Personal Info</p>
                <div class="float-container d-flex flex-column">
                  <label for="birthdayField">Birthday</label>
                  <input 
                    type="text" 
                    id="birthdayField"
                    class="float-field align-self-center"
                    value="{% if not userInfo.birthday == None or userInfo.birthday|length == 0 %}{{userInfo.birthday}}{% endif %}"
                    disabled
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="sexField">Sex</label>
                  <input 
                    type="text" 
                    id="sexField"
                    class="float-field align-self-center"
                    value="{% if not userInfo.sex == None or userInfo.sex|length == 0 %}{{userInfo.sex}}{% endif %}"
                    disabled
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="nationalityField">Nationality</label>
                  <input 
                    type="text" 
                    id="nationalityField"
                    class="float-field align-self-center"
                    value="{% if not userInfo.nationality == None or userInfo.nationality|length == 0 %}{{userInfo.nationality}}{% endif %}"
                    disabled
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="citizenshipField">Citizenship</label>
                  <input 
                    type="text" 
                    id="citizenshipField"
                    class="float-field align-self-center"
                    value="{% if not userInfo.citizenship == None or userInfo.citizenship|length == 0 %}{{userInfo.citizenship}}{% endif %}"
                    disabled
                  >
                </div>
              </div>
              <div class="bottom-left-buttons d-flex justify-content-between">
                <button type="button" class="update-btn d-block btn-lg btn-dark fw-bold">Update</button>
                {% if request.user.is_superuser %}
                <button type="button" class="add-btn d-block btn-lg btn-secondary fw-bold">Add</button>
                {% else %}
                <button type="button" class="subscribe-btn d-block subscribe-btn btn-lg btn-secondary fw-bold">Subscribe</button>
                {% endif %}
              </div>
            </div>
            <div class="col-lg-7 d-flex flex-column justify-content-around p-3">
              <div class="addresses-div default-border d-flex flex-column align-items-center mb-3">
                <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Addresses</p>
                <div class="float-container d-flex flex-column">
                  <label for="presentAddressField">Present Address</label>
                  <input 
                    type="text" 
                    id="presentAddressField"
                    class="float-field align-self-center"
                    value="{% if not userInfo.presentAddress == None or userInfo.presentAddress|length == 0 %}{{userInfo.presentAddress}}{% endif %}"
                    disabled
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="permanentField">Permanent Address</label>
                  <input 
                    type="text" 
                    id="permanentField"
                    class="float-field align-self-center"
                    value="{% if not userInfo.permanentAddress == None or userInfo.permanentAddress|length == 0 %}{{userInfo.permanentAddress}}{% endif %}"
                    disabled
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="billingAddressField">Billing Address</label>
                  <input 
                    type="text"
                    id="billingAddressField"
                    class="float-field align-self-center"
                    value="{% if not userInfo.billingAddress == None or userInfo.billingAddress|length == 0 %}{{userInfo.billingAddress}}{% endif %}"
                    disabled
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="shippingAddressField">Shipping Address</label>
                  <input 
                    type="text" 
                    id="shippingAddressField"
                    class="float-field align-self-center"
                    value="{% if not userInfo.shippingAddress == None or userInfo.shippingAddress|length == 0 %}{{userInfo.shippingAddress}}{% endif %}"
                    disabled
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="officeAddressField">Office Address</label>
                  <input 
                    type="text" 
                    id="officeAddressField"
                    class="float-field align-self-center"
                    value="{% if not userInfo.officeAddress == None or userInfo.officeAddress|length == 0 %}{{userInfo.officeAddress}}{% endif %}"
                    disabled
                  >
                </div>
              </div>
              <div class="mobile-numbers default-border d-flex flex-column align-items-center mb-3">
                <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Mobile Numbers</p>
                <div class="split-fields-div d-flex justify-content-around">
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="personalMobileNumberField">Personal</label>
                    <input 
                      type="text" 
                      id="personalMobileNumberField"
                      class="float-field align-self-center"
                      value="{% if not userInfo.personalCPNumber == None or userInfo.personalCPNumber|length == 0 %}{{userInfo.personalCPNumber}}{% endif %}"
                      disabled
                    >
                  </div>
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="officeMobileNumberField">Office</label>
                    <input 
                      type="text" 
                      id="officeMobileNumberField"
                      class="float-field align-self-center"
                      value="{% if not userInfo.officeCPNumber == None or userInfo.officeCPNumber|length == 0 %}{{userInfo.officeCPNumber}}{% endif %}"
                      disabled
                    >
                  </div>
                </div>
              </div>
              <div class="landline-numbers default-border d-flex flex-column align-items-center mb-3">
                <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Landline Numbers</p>
                <div class="split-fields-div d-flex justify-content-around">
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="homeLandlineNumberField">Home</label>
                    <input 
                      type="text" 
                      id="homeLandlineNumberField"
                      class="float-field align-self-center"
                      value="{% if not userInfo.homeLandlineNumber == None or userInfo.homeLandlineNumber|length == 0 %}{{userInfo.homeLandlineNumber}}{% endif %}"
                      disabled
                    >
                  </div>
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="officeLandlineNumberField">Office</label>
                    <input 
                      type="text" 
                      id="officeLandlineNumberField"
                      class="float-field align-self-center"
                      value="{% if not userInfo.officeLandlineNumber == None or userInfo.officeLandlineNumber|length == 0 %}{{userInfo.officeLandlineNumber}}{% endif %}"
                      disabled
                    >
                  </div>
                </div>
              </div>
              <div class="emails default-border d-flex flex-column align-items-center mb-3">
                <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Emails</p>
                <div class="split-fields-div d-flex justify-content-around">
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="personalEmailField">Personal</label>
                    <input 
                      type="text" 
                      id="personalEmailField"
                      class="float-field align-self-center"
                      value="{% if not userInfo.personalEmail == None or userInfo.personalEmail|length == 0 %}{{userInfo.personalEmail}}{% endif %}"
                      disabled
                    >
                  </div>
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="officeEmailField">Office</label>
                    <input 
                      type="text" 
                      id="officeEmailField"
                      class="float-field align-self-center"
                      value="{% if not userInfo.officeEmail == None or userInfo.officeEmail|length == 0 %}{{userInfo.officeEmail}}{% endif %}"
                      disabled
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form class="profile-form container-fluid d-none justify-content-around m-0 p-0" action="" method="POST" onsubmit="return false;">
            {% csrf_token %}
            <div class="col-lg-5 d-flex flex-column justify-content-around">
              <div class="customer-flag-info-div container-fluid position-relative d-flex justify-content-center">
                <div class="top-left-details position-absolute d-flex flex-column align-items-center mt-3">
                  <img
                    src="{% static 'media/profile-placeholder.png' %}"
                    class="customer-img" 
                  />
                  <!-- <input 
                    type="text" 
                    value="Customer Name"
                    id="customerNameField"
                    class="form-control position-absolute"
                  > -->
                  <div class="float-container d-flex flex-column bg-white">
                    <label for="nameInput">Name</label>
                    <input 
                      type="text" 
                      name="name"
                      id="nameInput"
                      class="float-field align-self-center"
                      value="{% if not userInfo.name == None or userInfo.name|length == 0 %}{{userInfo.name}}{% endif %}"
                    >
                  </div>
                </div>
                <img 
                  src="{% static 'media/image-flag-red.svg' %}" 
                  class="customer-img-flag"
                />
              </div>
              <div class="personal-info default-border d-flex flex-column align-items-center">
                <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Personal Info</p>
                <div class="float-container d-flex flex-column">
                  <label for="birthdayInput">Birthday</label>
                  <input 
                    type="date" 
                    name="birthday"
                    id="birthdayInput"
                    class="float-field align-self-center"
                    value="{% if not userInfo.birthday == None or userInfo.birthday|length == 0 %}{{userInfo.birthday}}{% endif %}"
                  >
                </div>
                <div class="overlapping-container d-flex flex-column">
                  <label for="sexInput">Sex</label>
                  <select 
                    type="text" 
                    name="sex"
                    id="sexInput"
                    class="float-field align-self-center text-end"
                  >
                    <option {% if not userInfo.sex == None or userInfo.sex|length == "0" %}selected{% endif %}>-----</option>
                    <option value="0" {% if userInfo.sex == "0" %}selected{% endif %}>Male</option>
                    <option value="1" {% if userInfo.sex == "1" %}selected{% endif %}>Female</option>
                    <option value="2" {% if userInfo.sex == "2" %}selected{% endif %}>Intersex</option>
                  </select>
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="nationalityInput">Nationality</label>
                  <input 
                    type="text" 
                    name="nationality"
                    id="nationalityInput"
                    class="float-field align-self-center"
                    value="{% if not userInfo.nationality == None or userInfo.nationality|length == 0 %}{{userInfo.nationality}}{% endif %}"
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="citizenshipInput">Citizenship</label>
                  <input 
                    type="text" 
                    name="citizenship"
                    id="citizenshipInput"
                    class="float-field align-self-center"
                    value="{% if not userInfo.citizenship == None or userInfo.citizenship|length == 0 %}{{userInfo.citizenship}}{% endif %}"
                  >
                </div>
              </div>
              <div class="bottom-left-buttons d-flex justify-content-between">
                <button type="button" class="finish-update-btn d-none btn-lg btn-dark fw-bold">Finish Update</button>
                <button type="button" class="cancel-update-btn d-none btn-lg btn-secondary fw-bold">Cancel Update</button>
                {% if request.user.is_superuser %}
                <button type="button" class="finish-adding-btn d-none btn-lg btn-dark fw-bold">Finish Adding</button>
                <button type="button" class="cancel-adding-btn d-none btn-lg btn-secondary fw-bold">Cancel Adding</button>
                {% endif %}
              </div>
            </div>
            <div class="col-lg-7 d-flex flex-column justify-content-around p-3">
              <div class="addresses-div default-border d-flex flex-column align-items-center mb-3">
                <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Addresses</p>
                <div class="float-container d-flex flex-column">
                  <label for="presentAddressInput">Present Address</label>
                  <input 
                    type="text" 
                    name="presentAddress"
                    id="presentAddressInput"
                    class="float-field align-self-center"
                    value="{% if not userInfo.presentAddress == None or userInfo.presentAddress|length == 0 %}{{userInfo.presentAddress}}{% endif %}"
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="permanentInput">Permanent Address</label>
                  <input 
                    type="text" 
                    name="permanentAddress"
                    id="permanentAddressInput"
                    class="float-field align-self-center"
                    value="{% if not userInfo.permanentAddress == None or userInfo.permanentAddress|length == 0 %}{{userInfo.permanentAddress}}{% endif %}"
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="billingAddressInput">Billing Address</label>
                  <input 
                    type="text"
                    name="billingAddress"
                    id="billingAddressInput"
                    class="float-field align-self-center"
                    value="{% if not userInfo.billingAddress == None or userInfo.billingAddress|length == 0 %}{{userInfo.billingAddress}}{% endif %}"
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="shippingAddressInput">Shipping Address</label>
                  <input 
                    type="text" 
                    name="shippingAddress"
                    id="shippingAddressInput"
                    class="float-field align-self-center"
                    value="{% if not userInfo.shippingAddress == None or userInfo.shippingAddress|length == 0 %}{{userInfo.shippingAddress}}{% endif %}"
                  >
                </div>
                <div class="float-container d-flex flex-column">
                  <label for="officeAddressInput">Office Address</label>
                  <input 
                    type="text" 
                    name="officeAddress"
                    id="officeAddressInput"
                    class="float-field align-self-center"
                    value="{% if not userInfo.officeAddress == None or userInfo.officeAddress|length == 0 %}{{userInfo.officeAddress}}{% endif %}"
                  >
                </div>
              </div>
              <div class="mobile-numbers default-border d-flex flex-column align-items-center mb-3">
                <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Mobile Numbers</p>
                <div class="split-fields-div d-flex justify-content-around">
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="personalMobileNumberInput">Personal</label>
                    <input 
                      type="text" 
                      name="personalCPNumber"
                      id="personalMobileNumberInput"
                      class="float-field align-self-center"
                      value="{% if not userInfo.personalCPNumber == None or userInfo.personalCPNumber|length == 0 %}{{userInfo.personalCPNumber}}{% endif %}"
                    >
                  </div>
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="officeMobileNumberInput">Office</label>
                    <input 
                      type="text" 
                      name="officeCPNumber"
                      id="officeMobileNumberInput"
                      class="float-field align-self-center"
                      value="{% if not userInfo.officeCPNumber == None or userInfo.officeCPNumber|length == 0 %}{{userInfo.officeCPNumber}}{% endif %}"
                    >
                  </div>
                </div>
              </div>
              <div class="landline-numbers default-border d-flex flex-column align-items-center mb-3">
                <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Landline Numbers</p>
                <div class="split-fields-div d-flex justify-content-around">
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="homeLandlineNumberInput">Home</label>
                    <input 
                      type="text" 
                      name="homeLandlineNumber"
                      id="homeLandlineNumberInput"
                      class="float-field align-self-center"
                      value="{% if not userInfo.homeLandlineNumber == None or userInfo.homeLandlineNumber|length == 0 %}{{userInfo.homeLandlineNumber}}{% endif %}"
                    >
                  </div>
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="officeLandlineNumberInput">Office</label>
                    <input 
                      type="text" 
                      name="officeLandlineNumber"
                      id="officeLandlineNumberInput"
                      class="float-field align-self-center"
                      value="{% if not userInfo.officeLandlineNumber == None or userInfo.officeLandlineNumber|length == 0 %}{{userInfo.officeLandlineNumber}}{% endif %}"
                    >
                  </div>
                </div>
              </div>
              <div class="emails default-border d-flex flex-column align-items-center mb-3">
                <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Emails</p>
                <div class="split-fields-div d-flex justify-content-around">
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="personalEmailInput">Personal</label>
                    <input 
                      type="text" 
                      name="personalEmail"
                      id="personalEmailInput"
                      class="float-field align-self-center"
                      value="{% if not userInfo.personalEmail == None or userInfo.personalEmail|length == 0 %}{{userInfo.personalEmail}}{% endif %}"
                    >
                  </div>
                  <div class="float-container float-container-split d-flex flex-column">
                    <label for="officeEmailInput">Office</label>
                    <input 
                      type="text" 
                      name="officeEmail"
                      id="officeEmailInput"
                      class="float-field align-self-center"
                      value="{% if not userInfo.officeEmail == None or userInfo.officeEmail|length == 0 %}{{userInfo.officeEmail}}{% endif %}"
                    >
                  </div>
                </div>
              </div>
            </div>
            <span class="customer-add-url d-none">{% url 'customerInfoAdd' %}</span>
            <span class="customer-update-url d-none">{% url 'customerInfoUpdate' request.user.id %}</span>
            <!-- <input type="text" value="update" id="submitTypeField" class="d-none"> -->
          </form>
        </div>
        {% if request.user.is_superuser %}
        <div class="col-lg-5 d-flex position-relative">
        {% else %}
        <div class="col-lg-1 d-flex position-relative">
        {% endif %}
          {% if request.user.is_superuser %}
          <div class="vertical-lines-div position-absolute d-flex">
            <div class="py-2">
              <div class="vertical-line-lg me-2"></div>
            </div>
            <div class="py-4">
              <div class="vertical-line-sm"></div>
            </div>
          </div>
          {% else %}
          <div class="vertical-lines-div position-absolute d-flex ms-0">
            <div class="py-2">
              <div class="vertical-line-lg me-2"></div>
            </div>
            <div class="py-4">
              <div class="vertical-line-sm"></div>
            </div>
          </div>
          {% endif %}
          {% if request.user.is_superuser %}
          <div class="rightmost-div container-fluid d-flex flex-column align-items-center ms-4 ps-4 pt-3 pe-0">
            <div class="top-right-div container-fluid d-flex justify-content-between">
              <div class="company-brand col-lg-6 d-flex flex-column justify-content-between align-items-center px-3">
                <img 
                  src="https://wallpaperaccess.com/full/1285952.jpg"
                  class="company-logo"
                  alt="Company Logo"
                />
                <div class="company-name-div mt-3 container-fluid">
                  <p class="fs-4 fw-bold text-center mt-3">SellPoint</p>
                </div>
              </div>
              <div class="top-right-controls col-lg-6 d-flex flex-column justify-content-between align-items-center px-3">
                <button type="button" class="home-btn btn-lg btn-outline-secondary">Back to HOME</button>
                <button type="button" class="subscribe-btn btn-lg btn-dark">Subscribe</button>
                <div class="float-container d-flex flex-column">
                <label for="search">Search</label>
                  <input 
                    type="search" 
                    id="search"
                    class="float-field align-self-center"
                    aria-label="search"
                  >
                </div>
              </div>
            </div>
            <div class="bottom-right-div default-border container-fluid d-flex flex-column align-items-center mt-3 mb-2 pb-3">
              <p class="text-center fs-5 fw-bold text-decoration-underline mt-2">Other Customers</p>
              <div class="other-customer-suggestion-div default-border d-flex mb-3 p-3">
                <img 
                  src="{% static 'media/profile-placeholder.png' %}"
                  class="customer-img-sm me-3"
                />
                <div class="other-customer-info-div d-flex flex-column justify-content-between">
                  <p class="fs-6">Customer Name</p>
                  <p class="fs-6">Customer Nationality</p>
                </div>
              </div>
              <div class="other-customer-suggestion-div default-border d-flex mb-3 p-3">
                <img 
                  src="{% static 'media/profile-placeholder.png' %}"
                  class="customer-img-sm me-3"
                />
                <div class="other-customer-info-div d-flex flex-column justify-content-between">
                  <p class="fs-6">Customer Name</p>
                  <p class="fs-6">Customer Nationality</p>
                </div>
              </div>
              <div class="other-customer-suggestion-div default-border d-flex mb-3 p-3">
                <img 
                  src="{% static 'media/profile-placeholder.png' %}"
                  class="customer-img-sm me-3"
                />
                <div class="other-customer-info-div d-flex flex-column justify-content-between">
                  <p class="fs-6">Customer Name</p>
                  <p class="fs-6">Customer Nationality</p>
                </div>
              </div>
              <div class="other-customer-suggestion-div default-border d-flex mb-3 p-3">
                <img 
                  src="{% static 'media/profile-placeholder.png' %}"
                  class="customer-img-sm me-3"
                />
                <div class="other-customer-info-div d-flex flex-column justify-content-between">
                  <p class="fs-6">Customer Name</p>
                  <p class="fs-6">Customer Nationality</p>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <span class="superuser-span d-none">{{request.user.is_superuser}}</span>
  <span class="birthday-span d-none">{% if not userInfo.birthday == None or userInfo.birthday|length == 0 %}{{userInfo.birthday}}{% endif %}</span>
</div>
<script type="text/javascript" src="{% static 'js/onload.js' %}"></script>
<script type="text/javascript" src="{% static 'js/customerInfo.js' %}"></script>
{% endblock content %}