{% extends 'crms_app/main.html' %}
{% block content %}

<head>
    <style>
        .container-fluid1 {
            margin: auto;
            margin-top: 150px;
            width: 100%;
        }
    </style>
</head> -->

<body style="background-color: gray;">
    <div class="container-fluid1">
        <div class="row">
            <div class="col-sm-3 col-lg-4"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-center shadow">
                    <div class="card-header">
                        Welcome!
                    </div>
                    <div class="card-body m-4">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input type="text" name="username" class="form-control" id="floatingInput" required>
                                <label for="floatingInput">Enter Username</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" name="password" class="form-control" id="floatingPassword"
                                    required>
                                <label for="floatingPassword">Enter Password</label>
                            </div>

                            <br>
                            {% for message in messages %}
                            {% if 'success' == message.tags %}
                            <!-- Alert Box -->
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Success!</strong> {{message | striptags}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% else %}
                            <!-- Alert Box -->
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error!</strong> {{message | striptags}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endif %}
                            {% endfor %}

                            <center>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-dark btn-md">LOGIN</button>
                                </div>
                            </center>
                        </form>
                        <br>
                        <a href="{% url 'Forgot Password' %}" style="text-decoration: none;">Forgot Password?</a>
                        <br>
                        New User? Register <a href="{% url 'testRegister'  %}" style="text-decoration: none;">HERE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-4"></div>
        </div>
    </div>
</body>

{% endblock content %}