{% extends 'crms_app/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href={% static 'css/passwordChange.css' %}>
<div class="container-fluid bg-secondary d-flex justify-content-center align-items-start" style = "height:100vh;">
    <div class="row mt-5">
        <div class="" style = " width: 700px">
            <div class="card text-center shadow">
                <div class="card-header">
                    Change Password
                </div>
                <div class="card-body m-4">
                    <form method="post">
                        {% csrf_token %}
                        {{form|crispy}}

                        {% for message in messages %}
                        {% if 'success' == message.tags %}
                            <!-- Alert Box -->
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Success!</strong> {{message | striptags}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% else %}
                            <!-- Alert Box -->
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error!</strong> {{message | striptags}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                        {% endfor %}

                        <center>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark btn-md text-uppercase">save changes</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}