{% extends 'crms_app/main.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href={% static 'css/changePassword.css' %}>
<div id="hexagon"></div>
<div id="logo"></div>
<div id="name"></div>
<div class="arrow-left"></div>

<form action="/action_page.php">
    <p span id="l1" style="font-weight: bold;">New Password</span></p>
    <input type="password" id="new" name="new">
    <p span id="l2" style="font-weight: bold;">Confirm New Password</span></p>
    <input type="password" id="confirm" name="confirm">
    <button id="change" name="changes"><span style="font-weight: bold;">CHANGE PASSWORD</span></button>
</form>

<p span id="l3" style="font-weight: bold;"><u>Change Password</u></p>
<p span id="l4" style="font-weight: bold;">The password should contain at least<br>one character of the
    following:<br><br></p>
<ul>
    <li>Lower case: "a-z"</li>
    <li>Upper case: "A-Z"</li>
    <li>Number: "0-9"</li>
    <li>Special character: "@!$^%"</li>
</ul>

{% endblock content %}