{% extends 'crms_app/main.html' %}
{% block content %}

<h1> SUBMIT PRODUCT COMPLAINT </h1>


<!-- Insert Review HERE -->
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
        {{productComplaintForm.customer}}
        <label for="floatingInput">Enter customer: {{request.user}}</label>
        </div> 
        <br>
        <div class="form-floating mb-3">
            {{productComplaintForm.product}}
            <label for="floatingInput">Enter product {{product.name}}</label>
        </div> 
        <div class="form-floating mb-3">
            {{productComplaintForm.complaint}}
            
            <label for="floatingInput">Enter complaint</label>
        </div> 

        <center>
                <!-- DYNAMICALLY CHANGE URL -->
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-success">
                    <i class="fa-solid fa-arrow-right-long"></i>
                    Submit Product Complaint
                </button>
            </div>
        </center>
    </form>

</div>

{% endblock content %}