{% extends 'crms_app/main.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <br><br>

    <div class="container">


        {% if customerInformation.picture %}
        <h1>PICTURE EXISTS</h1>
        <img class="img-fluid" src={{customerInformation.picture.url}}>
        <h1>
            {{customerInformation.picture.url}}
        </h1>
        {% else %}
        <h1>NOPE</h1>
        {% endif %}
         <h1>
            customer Information Page
         </h1>
    </div>


    <div class="container">
        <a href="{% url 'subscribeCatalog' %}">SUBSCRIBE TO CATALOG</a>
        <br>
        <a href="{% url 'unsubscribeCatalog' %}">UNSUBSCRIBE TO CATALOG</a>
    </div>


  
        {% if isNew %}
      <div class="container">
        <h1>WELCOME NEW USER!</h1>
        <p>We recommend that you fill out your customer information for the best experience!</p>
      </div>
      {% endif %}
  

    <br><br>

    <div class="container">
        <h1>Update Your Customer Information</h1>
        <br>
    
        <div class="card">
            <div class="card-header">
                Update Customer Form
            </div>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    <!-- Input fields -->
                    {% csrf_token %}
                    {{form|crispy}}
    
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i>
                        Update Customer
                    </button>
    
                    <!-- Cancel Button -->
                    <a href="{% url 'customerInformation' request.user.id %}" class="btn btn-outline-danger">
                        <i class="fas fa-ban"></i>
                        Cancel
                    </a>
                </form>
            </div>
    
        </div>
    
    </div>

{% endblock content %}