{% extends 'crms_app/main.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href={% static 'css/searchPage.css' %}>
<div class="app container-fluid">
  <div class="app-contents container d-flex flex-column justify-content-center align-items-center">
    <div class="btn-group-lg container-fluid d-flex justify-content-center mb-3" role="group" aria-label="Second group">
      <button type="button" class="btn btn-dark mx-0" style="border-radius: 5px 0 0 5px; width: 40%;">Product Search</button>
      <button type="button" class="btn btn-secondary mx-0" style="border-radius: 0 5px 5px 0; width: 40%;">Customer Search</button>
    </div>
    <div class="search-page-view container-fluid py-2">
      <div class="search-page-view-contents default-border container-fluid d-flex p-3">
        <div class="left-div col-lg-2 d-flex flex-column justify-content-center">
          <div class="company-brand d-flex flex-column justify-content-between align-items-center px-3">
            <img 
              src="https://wallpaperaccess.com/full/1285952.jpg"
              class="company-logo"
              alt="Company Logo"
            />
            <div class="company-name-div mt-3 container-fluid">
              <p class="fs-4 fw-bold text-center mt-3">SellPoint</p>
            </div>
          </div>
          <div class="customer-flag-info-div container-fluid position-relative d-flex justify-content-center mt-3">
            <div class="flag-details position-absolute d-flex flex-column align-items-center mt-1">
              <p class="fs-3 fw-bold mb-0 text-center">Advanced Search</p>
              <p class="fs-4 mb-0">for Products</p>
              <p class="fs-4">or Customers</p>
            </div>
            <img 
              src="{% static 'media/image-flag-red.svg' %}" 
              class="left-flag"
            />
          </div>
        </div>
        {% if request.user.is_superuser %}
        <div class="middle-div col-lg-4 position-relative d-flex justify-content-end">
          <div class="vertical-lines-div position-absolute d-flex">
            <div class="py-2">
              <div class="vertical-line-lg me-2"></div>
            </div>
            <div class="py-4">
              <div class="vertical-line-sm"></div>
            </div>
          </div>
          <div class="middle-div-contents col-lg-11 d-flex justify-content-end">
            <div class="product-search-filter col-lg-11 d-flex flex-column px-3">
              <p class="text-center fs-4 fw-bold mt-2">PRODUCT SEARCH FILTER</p>
              <p class="text-start fs-5 fw-bold mb-0">By Name</p>
              <div class="filter-product-name d-flex flex-column ms-4">
                <div class="mb-2">
                  <label for="includesAllField" class="form-label">Has all these words</label>
                  <input type="email" class="form-control" id="includesAllField" placeholder="ryzen 5, laptop, asus">
                </div>
                <div class="mb-2">
                  <label for="excludingAnyField" class="form-label">Excluding these words</label>
                  <input type="email" class="form-control" id="excludingAnyField" placeholder="dell, cheap">
                </div>
                <div class="mb-2">
                  <label for="inludesAnyField" class="form-label">Has any of these words</label>
                  <input type="email" class="form-control" id="inludesAnyField" placeholder="fast delivery, free shipping">
                </div>
              </div>
              <p class="text-start fs-5 fw-bold mb-0">By Category</p>
              <div class="filter-categories d-flex flex-column ms-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio"  checked name="categoryRadio" id="audioRadio">
                  <label class="form-check-label" for="audioRadio">
                    Audio
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categoryRadio" id="babiesAndKidsRadio">
                  <label class="form-check-label" for="babiesAndKidsRadio">
                    Babies & Kids
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categoryRadio" id="camerasRadio">
                  <label class="form-check-label" for="camerasRadio">
                    Cameras
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categoryRadio" id="digitalGoodsAndVouchersRadio">
                  <label class="form-check-label" for="digitalGoodsAndVouchersRadio">
                    Digital Goods & Vouchers
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categoryRadio" id="gamingRadio">
                  <label class="form-check-label" for="gamingRadio">
                    Gaming
                  </label>
                </div>
                <span id="showMoreCategories">Show More Categories</span>
              
                <!-- Define the text that would be 
                    hidden by default and only shown 
                    when clicked on the button -->
                <span id="hiddenCategories"> 
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="categoryRadio" id="groceriesRadio">
                    <label class="form-check-label" for="groceriesRadio">
                      Groceries
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="categoryRadio" id="healthAndPersonalCareRadio">
                    <label class="form-check-label" for="healthAndPersonalCareRadio">
                      Health & Personal Care
                    </label>
                  </div>
                </span>
              </div>
              <p class="text-start fs-5 fw-bold mb-0">By Subcategory</p>
              <div class="filter-subcategories d-flex flex-column ms-4">
                <div class="form-check">
                  <input class="form-check-input" type="check" id="speakersCheck">
                  <label class="form-check-label" for="speakersCheck">
                    Speakers
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="check" id="earphonesHeadphonesAndHeadSetsCheck">
                  <label class="form-check-label" for="earphonesHeadphonesAndHeadSetsCheck">
                    Earphones, Headphones & Headsets
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="check" id="microphonesCheck">
                  <label class="form-check-label" for="microphonesCheck">
                    Microphones
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="check" id="amplifiersAndMixersCheck">
                  <label class="form-check-label" for="amplifiersAndMixersCheck">
                    Amplifiers & Mixers
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="check" id="AVReceiversCheck">
                  <label class="form-check-label" for="AVReceiversCheck">
                    AV Receivers
                  </label>
                </div>
                <span id="showMoreSubcategories">Show More Subcategories</span>
              
                <!-- Define the text that would be 
                    hidden by default and only shown 
                    when clicked on the button -->
                <span id="hiddenSubcategories"> 
                  <div class="form-check">
                    <input class="form-check-input" type="check" id="homeTheatherSystemsCheck">
                    <label class="form-check-label" for="homeTheatherSystemsCheck">
                      Home Theather Systems
                    </label>
                  </div>
                </span>
              </div>
              <p class="text-start fs-5 fw-bold mb-0">By Ratings</p>
              <div class="filter-ratings d-flex flex-column ms-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="ratingsRadio" id="fiveStarsRadio">
                  <label class="form-check-label" for="fiveStarsRadio">
                    <div class="filter-rating d-flex justify-content-center">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="ratingsRadio" id="fourStarsRadio">
                  <label class="form-check-label" for="fourStarsRadio">
                    <div class="filter-rating d-flex justify-content-center">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="ratingsRadio" id="threeStarsRadio">
                  <label class="form-check-label" for="threeStarsRadio">
                    <div class="filter-rating d-flex justify-content-center">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="ratingsRadio" id="twoStarsRadio">
                  <label class="form-check-label" for="twoStarsRadio">
                    <div class="filter-rating d-flex justify-content-center">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="ratingsRadio" id="oneStarRadio" checked>
                  <label class="form-check-label" for="oneStarRadio">
                    <div class="filter-rating d-flex justify-content-center">
                      <i class="fa fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </label>
                </div>
              </div>
              <p class="text-start fs-5 fw-bold mb-0">By Price</p>
              <div class="filter-price d-flex flex-column ms-4">
                <div>
                  <input type="number" class="form-control" id="minPriceField" value="0">
                </div>
                <p class="fs-6 fw-bold ms-2 mb-0">up to</p>
                <div>
                  <input type="number" class="form-control" id="maxPriceField" value="9999999">
                </div>
              </div>
              <button type="button" class="btn btn-dark mt-2">Search Products</button>
            </div>
          </div>
        </div>
        <div class="right-div col-lg-6 position-relative d-flex justify-content-end">
          <div class="vertical-lines-div position-absolute d-flex">
            <div class="py-2">
              <div class="vertical-line-lg me-2"></div>
            </div>
            <div class="py-4">
              <div class="vertical-line-sm"></div>
            </div>
          </div>
          <div class="right-div-contents col-lg-11 d-flex">
            <div class="customer-search-filter container-fluid d-flex flex-column px-3">
              <p class="text-center fs-4 fw-bold mt-2">CUSTOMER SEARCH FILTER</p>
              <p class="text-start fs-5 fw-bold mb-0">Personal Info</p>
              <div class="filter-personal-info d-flex flex-column">
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="nameField" class="col-form-label">Name</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="nameField" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="genderField" class="col-form-label">Gender</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="genderField" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="nationalityField" class="col-form-label">Nationality</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="nationalityField" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="citizenshipField" class="col-form-label">Citizenship</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="citizenshipField" class="form-control">
                  </div>
                </div>
              </div>
              <p class="text-start fs-5 fw-bold mb-0">Addresses</p>
              <div class="filter-addresses d-flex flex-column">
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="presentAddressField" class="col-form-label">Present Address</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="presentAddressField" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="permanentAddressField" class="col-form-label">Permanent Address</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="permanentAddressField" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="billingAddressField" class="col-form-label">Billing Address</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="billingAddressField" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="shippingAddressField" class="col-form-label">Shipping Address</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="shippingAddressField" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="officeAddressField" class="col-form-label">Office Address</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="officeAddressField" class="form-control">
                  </div>
                </div>
              </div>
              <p class="text-start fs-5 fw-bold mb-0">Mobile Numbers</p>
              <div class="filter-mobile-numbers d-flex flex-column">
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="personalMobileNumberField" class="col-form-label">Personal Number</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="personalMobileNumberField" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="officeMobileNumberField" class="col-form-label">Office Number</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="officeMobileNumberField" class="form-control">
                  </div>
                </div>
              </div>
              <p class="text-start fs-5 fw-bold mb-0">Landline Numbers</p>
              <div class="filter-landline-numbers d-flex flex-column">
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="homeLandlineNumberField" class="col-form-label">Home Landline</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="homeLandlineNumberField" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="officeLandlineNumberField" class="col-form-label">Office Landline</label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="officeLandlineNumberField" class="form-control">
                  </div>
                </div>
              </div>
              <p class="text-start fs-5 fw-bold mb-0">Emails</p>
              <div class="email-landline-numbers d-flex flex-column">
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="personalEmailField" class="col-form-label">Personal Email</label>
                  </div>
                  <div class="col-8">
                    <input type="email" id="personalEmailField" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <label for="officeEmailField" class="col-form-label">Office Email</label>
                  </div>
                  <div class="col-8">
                    <input type="email" id="officeEmailField" class="form-control">
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-dark mt-2">Search Customers</button>
            </div>
          </div>
        </div>
        {% else %}
        <div class="right-div col-lg-10 position-relative d-flex justify-content-end">
          <div class="vertical-lines-div position-absolute d-flex">
            <div class="py-2">
              <div class="vertical-line-lg me-2"></div>
            </div>
            <div class="py-4">
              <div class="vertical-line-sm"></div>
            </div>
          </div>
          <div class="right-div-contents col-lg-11 d-flex justify-content-end">
            <div class="product-search-filter container-fluid d-flex justify-content-between">
              <div class="product-search-filter-left col-lg-6 d-flex flex-column px-3">
                <p class="text-center fs-4 fw-bold mt-2">PRODUCT SEARCH FILTER</p>
                <p class="text-start fs-5 fw-bold mb-0">By Name</p>
                <div class="filter-product-name d-flex flex-column ms-4">
                  <div class="mb-2">
                    <label for="includesAllField" class="form-label">Has all these words</label>
                    <input type="email" class="form-control" id="includesAllField" placeholder="ryzen 5, laptop, asus">
                  </div>
                  <div class="mb-2">
                    <label for="excludingAnyField" class="form-label">Excluding these words</label>
                    <input type="email" class="form-control" id="excludingAnyField" placeholder="dell, cheap">
                  </div>
                  <div class="mb-2">
                    <label for="inludesAnyField" class="form-label">Has any of these words</label>
                    <input type="email" class="form-control" id="inludesAnyField" placeholder="fast delivery, free shipping">
                  </div>
                </div>
                <p class="text-start fs-5 fw-bold mb-0">By Category</p>
                <div class="filter-categories d-flex flex-column ms-4">
                  <div class="form-check">
                    <input class="form-check-input" type="radio"  checked name="categoryRadio" id="audioRadio">
                    <label class="form-check-label" for="audioRadio">
                      Audio
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="categoryRadio" id="babiesAndKidsRadio">
                    <label class="form-check-label" for="babiesAndKidsRadio">
                      Babies & Kids
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="categoryRadio" id="camerasRadio">
                    <label class="form-check-label" for="camerasRadio">
                      Cameras
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="categoryRadio" id="digitalGoodsAndVouchersRadio">
                    <label class="form-check-label" for="digitalGoodsAndVouchersRadio">
                      Digital Goods & Vouchers
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="categoryRadio" id="gamingRadio">
                    <label class="form-check-label" for="gamingRadio">
                      Gaming
                    </label>
                  </div>
                  <span id="showMoreCategories">Show More Categories</span>
                
                  <!-- Define the text that would be 
                      hidden by default and only shown 
                      when clicked on the button -->
                  <span id="hiddenCategories"> 
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="categoryRadio" id="groceriesRadio">
                      <label class="form-check-label" for="groceriesRadio">
                        Groceries
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="categoryRadio" id="healthAndPersonalCareRadio">
                      <label class="form-check-label" for="healthAndPersonalCareRadio">
                        Health & Personal Care
                      </label>
                    </div>
                  </span>
                </div>
              </div>
              <div class="product-search-filter-right col-lg-6 d-flex flex-column px-3">
                <p class="text-start fs-5 fw-bold mb-0">By Subcategory</p>
                <div class="filter-subcategories d-flex flex-column ms-4">
                  <div class="form-check">
                    <input class="form-check-input" type="check" id="speakersCheck">
                    <label class="form-check-label" for="speakersCheck">
                      Speakers
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="check" id="earphonesHeadphonesAndHeadSetsCheck">
                    <label class="form-check-label" for="earphonesHeadphonesAndHeadSetsCheck">
                      Earphones, Headphones & Headsets
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="check" id="microphonesCheck">
                    <label class="form-check-label" for="microphonesCheck">
                      Microphones
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="check" id="amplifiersAndMixersCheck">
                    <label class="form-check-label" for="amplifiersAndMixersCheck">
                      Amplifiers & Mixers
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="check" id="AVReceiversCheck">
                    <label class="form-check-label" for="AVReceiversCheck">
                      AV Receivers
                    </label>
                  </div>
                  <span id="showMoreSubcategories">Show More Subcategories</span>
                
                  <!-- Define the text that would be 
                      hidden by default and only shown 
                      when clicked on the button -->
                  <span id="hiddenSubcategories"> 
                    <div class="form-check">
                      <input class="form-check-input" type="check" id="homeTheatherSystemsCheck">
                      <label class="form-check-label" for="homeTheatherSystemsCheck">
                        Home Theather Systems
                      </label>
                    </div>
                  </span>
                </div>
                <p class="text-start fs-5 fw-bold mb-0">By Ratings</p>
                <div class="filter-ratings d-flex flex-column ms-4">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ratingsRadio" id="fiveStarsRadio">
                    <label class="form-check-label" for="fiveStarsRadio">
                      <div class="filter-rating d-flex justify-content-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ratingsRadio" id="fourStarsRadio">
                    <label class="form-check-label" for="fourStarsRadio">
                      <div class="filter-rating d-flex justify-content-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                      </div>
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ratingsRadio" id="threeStarsRadio">
                    <label class="form-check-label" for="threeStarsRadio">
                      <div class="filter-rating d-flex justify-content-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                      </div>
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ratingsRadio" id="twoStarsRadio">
                    <label class="form-check-label" for="twoStarsRadio">
                      <div class="filter-rating d-flex justify-content-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                      </div>
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ratingsRadio" id="oneStarRadio" checked>
                    <label class="form-check-label" for="oneStarRadio">
                      <div class="filter-rating d-flex justify-content-center">
                        <i class="fa fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                      </div>
                    </label>
                  </div>
                </div>
                <p class="text-start fs-5 fw-bold mb-0">By Price</p>
                <div class="filter-price d-flex flex-column ms-4">
                  <div>
                    <input type="number" class="form-control" id="minPriceField" value="0">
                  </div>
                  <p class="fs-6 fw-bold ms-2 mb-0">up to</p>
                  <div>
                    <input type="number" class="form-control" id="maxPriceField" value="9999999">
                  </div>
                </div>
                <button type="button" class="btn btn-dark mt-2">Search Products</button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/onload.js' %}"></script>
{% endblock content %}