{% extends 'crms_app/main.html' %}


{% block content %}


<div class="container-fluid bg-secondary d-flex justify-content-center align-items-start" style = "height:100vh;">
	<div class="row mt-5">
		<div class="" style = " width: 700px">
			<div class="card text-center shadow">
				<div class="card-header">
					Change Password
				</div>
				<div class="card-body m-4">

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Password reset sent</h2>
		<hr>
		<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>


</div>
</div>
</div>
</div>
</div>


{% endblock %}