{% extends 'crms_app/main.html' %}

{% block content %}

  {% load crispy_forms_tags %}  
  

  <div class="container-fluid bg-secondary d-flex justify-content-center align-items-start" style = "height:100vh;">
    <div class="row mt-5">
        <div class="" style = " width: 700px">
            <div class="card text-center shadow">
                <div class="card-header">
                    Change Password
                </div>
                <div class="card-body m-4">


        <!--Password Reset Confirm-->
            <div class="container p-5">
                <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
                <hr>
                <p>Please enter your new password.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}                    
                    <button class="btn btn-dark btn-md" type="submit">Reset password</button>
                </form>
            </div>

        </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}