{% extends 'crms_app/main.html' %}
{% block content %}


{% load crispy_forms_tags %}          

<div class="container-fluid bg-secondary d-flex justify-content-center align-items-start" style = "height:100vh;">
  <div class="row mt-5">
      <div class="" style = " width: 700px">
          <div class="card text-center shadow">
              <div class="card-header">
                  Change Password
              </div>
              <div class="card-body m-4">

          <!--Reset Password-->
          <div class="container p-5">
                <h2 class="font-weight-bold mt-3">Reset Password</h2>
              <hr>
              <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
              <form method="POST">
                  {% csrf_token %}
                  {{ password_reset_form|crispy }}                    
                  <button class="btn btn-dark btn-md" type="submit">Send email</button>
              </form>
            </div> 
            


    </div>
    </div>
    </div>
  </div>
</div>

{% endblock content %}