{% extends 'crms_app/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid bg-secondary d-flex justify-content-center align-items-start" style = "height:100vh;">
    <div class="row mt-5">
        <div class="" style = " width: 700px">
            <div class="card text-center shadow">
                <div class="card-header">
                    Change Password
                </div>
                <div class="card-body m-4">


                <!-- Change password -->
                <h2>Change Password</h2>
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit">Save changes</button>
                </form>

                <div>

                    {% for message in messages %}
                    {% if 'success' == message.tags %}
                        <!-- Alert Box -->
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success!</strong> {{message | striptags}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% else %}
                        <!-- Alert Box -->
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error!</strong> {{message | striptags}}
                            <button type="button" class="btn btn-dark btn-md" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% endfor %}

                </div>

            </div>
        </div>
        </div>
      </div>
    </div>





{% endblock content %}