body {
    background-color: gray;
}

.container {
    background-color: white;
    border: 3px black solid;
    border-radius: 5px;
    position: sticky;
    width: 40%;
    margin: auto;
    padding: 20px;
    margin-top: 150px;
}

.l3 {
    font-size: larger;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.l4 {
    margin: auto;
    text-align: center;
}

.l5 {
    margin: auto;
    margin-left: 200px;
    margin-bottom: 40px;
}

.l1 {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.new {
    margin: auto;
    margin-left: 220px;
    margin-bottom: 20px;
}

.l2 {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.confirm {
    margin: auto;
    margin-left: 220px;
    margin-bottom: 20px;
}

.change {
    margin: auto;
    margin-left: 225px;
    background-color: black;
    color: white;
    height: 40px;
}