input[type='radio'] {
  display: none;
}

.detailed-product-view-contents {
  background-color: white;
}

.main-image {
  object-fit: cover;
  width: 100%;
  height: 239px;
}

.left-flag {
  width: 100%;
  height: 100%;
}

.vertical-lines-div {
  left: 12px;
  height: 100%;
}

.vertical-line-lg {
  border: 6px solid black;
  height: 100%;
}

.vertical-line-sm {
  border: 4px solid black;
  height: 100%;
}
.product-img{
  width: 100%;
  height: 100%;
  float: left;
  margin: 5px;
  padding: 5px;
}
.tab-content{
  margin-left: 16px;
}

/*
  css adapted from and credits to
  https://stackoverflow.com/questions/20007610/bootstrap-carousel-multiple-frames-at-once
  https://www.codeply.com/p/0CWffz76Q9
*/

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
    
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}
/* 
  end copied css
*/

.carousel-item img:hover {
  cursor: pointer;
}
