.app {
  background-color: gray;
  min-height: calc(100vh - 56px);
}

.app-contents {
  display: table;
  height: calc(100vh - 56px);
}

.default-border {
  border: 3px solid black;
  border-radius: 8px;
}

/*
  css adapted from and credits to
  https://itnext.io/how-to-build-a-floating-label-input-field-f9b21669fe2f
  https://codepen.io/steamforge/pen/NBqMYj
*/
/** float container */
.float-container {
  box-sizing: border-box;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
}

.float-container input {
  font-size: 16px;
  outline: 0;
  padding: 16px 6px 10px;    
  width: 96%;
}

.float-container label {
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  transform-origin: top left;
  transform: translate(12px, 16px) scale(1); 
  transition: all .1s ease-in-out;  /* speed */
}

.float-container.active label {
  /* move the x coordinate and reduce size */
  transform: translate(12px, 4px) scale(.75);
}
/* 
  end copied css
*/

.overlapping-container {
  box-sizing: border-box;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
}

.overlapping-container input {
  font-size: 16px;
  outline: 0;
  width: 96%;
}

.overlapping-container select {
  padding-bottom: 2px;
}

.overlapping-container label {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  transform-origin: top left;
  transform: translate(16px, 8px) scale(1); 
  transition: all .1s ease-in-out;  /* speed */
}

/*
  css adapted from and credits to
  https://www.geeksforgeeks.org/how-to-create-show-more-and-show-less-functionality-for-hiding-text-using-javascript/
*/
/* Initially, hide the extra text that
  can be revealed with the button */
#hiddenCategories {
  /* Display nothing for the element */
  display: none;
}
#hiddenSubcategories {
  /* Display nothing for the element */
  display: none;
}
/* 
  end copied css
*/
